<h1>Crear Nuevo Modelo</h1>
<form action="/models" method="POST">
  <input type="text" name="name" placeholder="Nombre" />
  <textarea name="description" placeholder="Descipcion"></textarea>
  <button type="submit">Crear</button>
</form>
